@font-face {
	font-family: "Geometria";
	src: url(../fonts/Geometria.otf) format("opentype");
	font-style: normal; 
	font-weight: 400;
}

@font-face {
	font-family: "Geometria";
	src: url(../fonts/Geometria-HeavyItalic.otf) format("opentype");
	font-style: italic; 
	font-weight: 900;
}

@font-face {
	font-family: "Geometria";
	src: url(../fonts/Geometria-LightItalic.otf) format("opentype");
	font-style: italic; 
	font-weight: 300;
}

@font-face {
	font-family: "Geometria";
	src: url(../fonts/Geometria-Light.otf) format("opentype");
	font-style: normal; 
	font-weight: 300;
}

@font-face {
	font-family: "Geometria";
	src: url(../fonts/Geometria-Heavy.otf) format("opentype");
	font-style: normal; 
	font-weight: 900;
}

@font-face {
	font-family: "Philosopher";
	src: url(../fonts/Philosopher-Bold.ttf) format("truetype");
	font-style: normal; 
	font-weight: 700;
}

@font-face {
	font-family: "Philosopher";
	src: url(../fonts/Philosopher-Regular.ttf) format("truetype");
	font-style: normal; 
	font-weight: 400;
}

@font-face {
	font-family: "Philosopher";
	src: url(../fonts/Philosopher-Italic.ttf) format("truetype");
	font-style: italic; 
	font-weight: 400;
}